<!-- $scope is on TimeSheetPageCtrl -->
<div id="timesheets" class="container">
	<div class="panel panel-default" ng-hide="edit">
		<div class="panel-heading">
			<h4>
				Time Sheets
				<div class="pull-right">
					<div class="btn-group">
						<button type="button" class="btn btn-primary btn-sm" id="new" ng-click="set();" ng-disabled="!createSheet">Create</button>
						<button type="button" class="btn btn-sm btn-primary dropdown-toggle" id="toggle-create-dropdown" data-toggle="dropdown"
							ng-disabled="!createSheet">
							<span class="caret"></span> <span class="sr-only">Toggle Create Dropdown</span> &nbsp;
						</button>
						<ul class="dropdown-menu" role="menu">
							<li><a id="set-week-Last" ng-click="setWeekLast();">Last Week</a></li>
							<li><a id="set-week-this" ng-click="set();">This Week <i>(default)</i></a></li>
							<li><a id="set-week-next" ng-click="setWeekNext();">Next Week</a></li>
							<li class="divider"></li>
							<li><a id="set-week-other" ng-click="openModal('#weekSelectionModal');">Other...</a></li>
						</ul>
					</div>
				</div>
			</h4>
		</div>
		<div class="panel-body">
            <div ng-hide="createSheet">
                <p>You have no active contracts.  <br/>This prevents you from creating new time sheets.</p>
            </div>
            <div ng-hide="timeSheetsList.length > 0">
                <p>You have no time sheets in our history.</p>
            </div>
			<ul id="userTimeSheetList">
				<li ng-repeat="timeSheet in timeSheetsList | orderBy:'startDate':1 " ng-init="worker=workersMap[timeSheet.workerId]"><a
					id="select-timesheet-{{timeSheet.id}}" ng-click="set(timeSheet)">{{timeSheet.year}}, week {{timeSheet.week}} -
						{{timeSheet.startDate}}</a>
                    <span id="timeSheetUnsubmitted" ng-show="timeSheet.status=='UNSUBMITTED'" class="label label-warning">Not Submitted</span>
                    <span id="timeSheetSubmitted" ng-show="timeSheet.status=='SUBMITTED'" class="label label-info">Submitted</span>
                    <span id="timeSheetApproved" ng-show="timeSheet.status=='APPROVED'" class="label label-success">Approved</span></li>
			</ul>
		</div>
	</div>

	<div class="alert alert-warning alert-dismissable" ng-show="edit && (currentTimeSheet.currentTimeSheet === false)">
		<button type="button" class="close" id="timesheet-alert-close" data-dismiss="alert" aria-hidden="true">&times;</button>
		<strong>Warning!</strong> This time sheet is not the current week. <a id="select-timesheet-current" href="#/timesheet?id=current">Click here</a>
		for the current timesheet.
	</div>
    
    <div class="alert alert-success alert-dismissable" ng-show="success">
        <button type="button" class="close" id="timesheet-success-close" data-dismiss="alert" aria-hidden="true">&times;</button>
        <strong>Success!</strong> The action was successful.
    </div>

	<form role="form" name="createTimeSheetForm">
		<div id="createTimeSheet" class="panel panel-default" ng-show="edit">
			<div class="panel-heading">
				<h4>
					<span ng-show="currentTimeSheet.id">Edit TimeSheet: {{currentTimeSheet.startDate}}</span>
				</h4>
				<div class="row">
					<div class="col-sm-12">
						<small><span class="text-muted">As of {{currentTimeSheet.updateTimestamp|truncatedtimestamp}}</span></small> <label
							class="label label-success" title="A submitted time card can still be updated by clicking the 'Update' button below."
							ng-show="currentTimeSheet.status!='UNSUBMITTED'">Submitted <span class="glyphicon glyphicon-ok"></span></label>

						<div class="btn-group btn-group-sm pull-right">
							<a type="button" class="btn btn-default" id="previous-timesheet" ng-disabled="!currentTimeSheet.previousTimeSheetId"
								ng-href="#/timesheet?id={{currentTimeSheet.previousTimeSheetId}}">Previous</a> <a type="button" class="btn btn-default"
								id="next-timesheet" ng-hide="!currentTimeSheet.nextTimeSheetId" ng-href="#/timesheet?id={{currentTimeSheet.nextTimeSheetId}}">Next</a>

							<button type="button" class="btn btn-default dropdown-toggle" id="toggle-create-dropdown" data-toggle="dropdown"
								ng-show="!currentTimeSheet.nextTimeSheetId">
								Next <span class="caret"></span> <span class="sr-only">Toggle Create Dropdown</span>
							</button>
							<ul class="dropdown-menu" role="menu">
								<li><a id="create-timesheet-next" ng-click="setWeekNext(currentTimeSheet.startDate);">Create Time Sheet for Next Week</a></li>
								<li><a id="create-timesheet-other" ng-click="openModal('#weekSelectionModal');">Create Time Sheet for Other Date...</a></li>
							</ul>
						</div>
					</div>
				</div>
			</div>
			<div class="panel-body">
				<div class="form-group">
					<ul class="list-group">
						<li ng-repeat="day in currentTimeSheet.days" class="list-group-item row" ng-init="ii=$index">
							<div class="col-sm-4">
								<small class="text-muted">{{day.entries[0].date}}</small> {{dayOfWeekArr[((currentTimeSheet.startDayOfWeek + ii) % 7)].description}}
							</div>
							<div class="col-sm-8">
								<div class="row" ng-repeat="entry in day.entries | orderBy:'startTime'" ng-controller="TimeSheetDayCtrl" ng-init="eIndex=$index">
									<div class="col-sm-3">
										<input type="time" class="form-control input-sm" id="entry-start-time-{{$id}}" ng-model="entry.startTime" placeholder="HH:MM"
											title="Clock-in Time">
									</div>
									<div class="col-sm-3">
										<input type="time" class="form-control input-sm" id="entry-end-time-{{$id}}" ng-model="entry.endTime" placeholder="HH:MM"
											title="Clock-out Time">
									</div>

									<div class="col-sm-6" ng-show="showButtons">
										<div class="btn-group btn-group-sm">
											<button type="button" class="btn btn-default dropdown-toggle" id="timeSheetLogEntry-clientId-{{$id}}" data-toggle="dropdown"
												name="timeSheetLogEntry-clientId-{{$id}}" title="Select the client against which to log these hours">
												<span class="sr-only">Toggle Client Dropdown</span> {{currentAvailableClientsMap[entry.clientId].name}} <span class="caret"></span>
											</button>
											<ul class="dropdown-menu">
												<li>-- Select Client--</li>
												<li ng-repeat="client in currentTimeSheet.availableClients | orderBy:'name'"><a id="select-client-{{$id}}"
													ng-click="setEntryClientId(client.id);">{{client.name}}</a></li>
											</ul>
											<button class="btn btn-default" type="button" id="remove-timesheet-entry-{{$id}}" ng-hide="$first"
												ng-click="removeTimeSheetLogEntry(entry);" title="Remove this time sheet entry set (from/to)">
												<span class="glyphicon glyphicon-minus-sign"></span>&nbsp;
											</button>
											<button class="btn btn-default" type="button" id="add-timesheet-entry-{{$id}}" ng-hide="!$last"
												ng-click="addNewTimeSheetLogEntry(day);" title="Add another time sheet entry set (from/to)">
												<span class="glyphicon glyphicon-plus-sign"></span>&nbsp;
											</button>
										</div>
									</div>
								</div>
							</div>
						</li>
					</ul>
				</div>
				<div class="form-group row">
					<label for="note" class="col-sm-2 control-label">Notes</label>
					<div class="col-sm-6">
						<textarea class="form-control" id="note" name="note" rows="2" ng-model="currentTimeSheet.note"></textarea>
					</div>
				</div>
				<div class="form-group row debug" ng-show="debug">
					<p class="text-warning">Debug Properties</p>
					<label for="flagged" class="control-label"> <input id="flagged" name="flagged" type="checkbox"
						ng-model="currentTimeSheet.flagged"> Flagged
					</label> <br /> <label for="status" class="control-label"> <select class="input select" id="status" name="status"
						ng-model="currentTimeSheet.status">
							<option>UNSUBMITTED</option>
							<option>SUBMITTED</option>
							<option>APPROVED</option>
					</select> Status
					</label>
				</div>
				<div class="form-group row">
					<div class="col-sm-offset-2 col-sm-10">
                        <!--
                        Hiding per request from Scott
						<button type="button" class="btn" id="save" ng-class="{'btn-primary': createTimeSheetForm.$valid}"
							ng-disabled="!(createTimeSheetForm.$valid && createTimeSheetForm.$dirty)" ng-click="save(currentTimeSheet);">
							<span ng-show="currentTimeSheet.status!='UNSUBMITTED'">Update</span> <span ng-show="currentTimeSheet.status=='UNSUBMITTED'">Save</span>
						</button>
						<span ng-show="currentTimeSheet.status=='UNSUBMITTED'">
                        -->
						<span>
							<button type="button" class="btn btn-default btn-primary" id="submit" ng-click="submit(currentTimeSheet);"
								ng-disabled="!isSubmittable(currentTimeSheet);">Submit</button>
							<p class="text-muted">A time sheet may still be updated after it has been submitted.</p>
						</span>

					</div>
				</div>
			</div>
		</div>

		<pre ng-show="debug" class="debug">
            createTimeSheetForm.$dirty   ={{createTimeSheetForm.$dirty}}

            createTimeSheetForm.$pristine={{createTimeSheetForm.$pristine}}

            createTimeSheetForm.$valid   ={{createTimeSheetForm.$valid}}
        </pre>

	</form>

	<div ng-include="'resources/partials/datePickerModal.html'">
</div>

</div>