/.externalToolBuilders
/.settings
/target
classes
logs
bin
.DS_Store
.classpath
tomcat*
*.log*
/src/main/resources/git.properties
/src/main/webapp/WEB-INF/classes
/src/main/webapp/WEB-INF/lib
/src/main/webapp/resources/webjars/**
~/src/main/webapp/resources/webjars/README.md
/appengine-generated
/war
/war/WEB-INF/lib
*.iml
*.idea