<!-- current $scope is AdminContractCtrl -->
<div>
	<div id="contracts" class="panel panel-default" ng-hide="edit">
		<div class="panel-heading">
			<h4>
				Contracts
				<div class="pull-right">
					<span class="btn-group">
						<button type="button" id="new" class="btn btn-xs btn-primary" ng-click="set();">New</button>
					</span>
				</div>
			</h4>
		</div>
		<div class="panel-body">
			<ul>
				<li ng-repeat="(id, contract) in contractsMap | orderBy:'end'"><span class="btn-group">
						<button type="button" id="edit" class="btn btn-sm btn-default" ng-click="set(contract);">Edit</button>
						<button type="button" id="delete-{{$id}}" class="btn btn-sm btn-default" ng-click="remove(contract);" ng-hide="!debug">Delete</button>
				</span> {{clientsMap[contract.client].name}}, {{workersMap[contract.worker].firstName}} {{workersMap[contract.worker].lastName}} <span
					class="text-muted" ng-show="contract.startDate">- {{contract.startDate}} <span class="text-muted" ng-show="contract.endDate">- {{contract.endDate}}</span></span></li>
			</ul>
		</div>
	</div>
	
	<form class="form-horizontal" role="form" name="createContractForm">
		<div id="createContract" class="panel panel-default" ng-show="edit">
			<div class="panel-heading">
				<span ng-show="currentContract.id"><h4>Edit Contract</h4> {{clientsMap[currentContract.client].name}},
					{{workersMap[currentContract.worker].firstName}} {{workersMap[currentContract.worker].lastName}} </span> <span ng-hide="currentContract.id"><h4>Create
						Contract</h4></span>
				<p ng-show="!createContractForm.$valid" class="text-danger lead">
					Warning: <span ng-pluralize count="createContractForm.$error.required.length"
						when="{'1': '1 required field is missing.', 'other': '{} required fields are missing.'}"> </span>
				</p>
			</div>
			<div class="panel-body">

				<div class="form-group" ng-class="{'has-error': createContractForm.worker.$error.required}">
					<label for="worker" class="col-lg-2 control-label">Worker</label>
					<div class="col-lg-4">
						<select class="form-control" id="worker" name="worker" ng-model="currentContract.worker"
							ng-options="worker.id as (worker.lastName + ', ' + worker.firstName) for (workerid,worker) in workersMap" required>
							<option value="">-- Select Worker --</option>
						</select></label>
					</div>
				</div>
				<div class="form-group" ng-class="{'has-error': createContractForm.client.$error.required}">
					<label for="client" class="col-lg-2 control-label">Client</label>
					<div class="col-lg-4">
						<select class="form-control" id="client" name="client" ng-model="currentContract.client"
							ng-options="client.id as client.name for (clientid,client) in clientsMap" required>
							<option value="">-- Select Client --</option>
						</select>
					</div>
				</div>
				<div class="form-group">
					<label for="onSite" class="col-lg-2 control-label">On site</label>
					<div class="col-lg-4">
						<input id="onSite" name="onSite" type="checkbox" ng-model="currentContract.onSite">
					</div>
				</div>
				<div class="form-group" ng-class="{'has-error': createContractForm.startDate.$error.required}">
					<label for="startDate" class="col-lg-2 control-label">Start Date</label>
					<div class="col-lg-4">
						<input type="date" class="form-control" id="startDate" name="startDate" ng-model="currentContract.startDate" placeholder="YYYY-MM-DD"
							required>
					</div>
				</div>
				<div class="form-group">
					<label for="endDate" class="col-lg-2 control-label">End Date</label>
					<div class="col-lg-4">
						<input type="date" class="form-control" id="endDate" name="endDate" ng-model="currentContract.endDate" placeholder="YYYY-MM-DD">
					</div>
				</div>
				<div class="form-group">
					<div class="col-lg-offset-2 col-lg-4">
						<button type="button" id="save" class="btn btn-primary" ng-click="save(currentContract)">Save</button>
						<button type="button" id="cancel" class="btn btn-default" ng-click="unset();">Cancel</button>
					</div>
				</div>
			</div>
		</div>

		<pre ng-cloak ng-show="debug">
createContractForm.$pristine = {{createContractForm.$pristine}}
createContractForm.$dirty = {{createContractForm.$dirty}}
createContractForm.worker.$valid = {{createContractForm.worker.$valid}}
createContractForm.worker.$error = {{createContractForm.worker.$error}}
createContractForm.worker.$error.required = {{createContractForm.worker.$error.required}}
createContractForm.$valid = {{createContractForm.$valid}}
$valid && &dirty = {{ (createContractForm.$valid && createContractForm.$dirty) }}
!($valid && &dirty) = {{ !(createContractForm.$valid && createContractForm.$dirty) }}
createContractForm.$error.required (json) = {{createContractForm.$error.required | json}}
createContractForm.$error.required.length = {{createContractForm.$error.required.length}}
createContractForm.$error.required !! = {{!!createContractForm.$error.required}}
createContractForm = {{createContractForm|json}}
</pre>

	</form>

	<div ng-cloak ng-show="debug" class="well">
		<pre>contracts={{contracts | json}}
currentContract={{currentContract | json}}</pre>
	</div>

</div>
