<div>
	<div id="contracts" class="panel panel-default">
		<div class="panel-heading">Contracts</div>
		<div class="panel-body">
			<ul>
				<li ng-repeat="contract in contracts | orderBy:'end'" ng-controller="AdminContractDetailCtrl">
					<span class="btn-group">
						<!--<a type="button" class="btn btn-sm btn-default" ng-href="#">View</a>-->
						<a type="button" class="btn btn-sm btn-default" ng-click="edit=!edit">Edit</a>
						<a type="button" class="btn btn-sm btn-default" ng-class="{'btn-primary': edit}" ng-disabled="!edit" ng-hide="true">Save</a>
					</span>
					{{contract.client}}, {{contract.worker}} 
					<span ng-show="contract.start">- {{contract.start}}</span>
					<span ng-show="contract.end">- {{contract.end}}</span>
                                        
                                        <span ng-show="edit">
                                          <form role="form" name="editContractForm">
                                            <div class="form-group">
                                                <label for="worker">Worker ID</label>
                                                <input type="text" class="form-control" id="firstName" ng-model="contract.worker" placeholder="1">

                                                <label for="client">Client ID</label>
                                                <input type="text" class="form-control" id="lastName" ng-model="contract.client" placeholder="1">

                                                <label for="start">Start Date</label>
                                                <input type="date" class="form-control" id="email" ng-model="contract.start" placeholder="01-01-2013">

                                                <label for="end">End Date</label>
                                                <input type="date" class="form-control" id="start" ng-model="contract.end" placeholder="">

                                                <div>
                                                        <a type="button" class="btn btn-default" ng-click="save(newcontract)">Save</a>
                                                </div>
                                            </div>
                                          </form>
                                        </span>
				</li>
			</ul>
		</div>
	</div>
	
	<div id="createContract" class="panel panel-default">
		<div class="panel-heading">Create new contract</div>
		<div class="panel-body">
			<form role="form" name="createContractForm">
				<div class="form-group">
				
					<label for="worker">Worker ID</label>
					<input type="text" class="form-control" id="firstName" ng-model="newcontract.worker" placeholder="1">
	
					<label for="client">Client ID</label>
					<input type="text" class="form-control" id="lastName" ng-model="newcontract.client" placeholder="1">
	
					<label for="start">Start Date</label>
					<input type="text" class="form-control" id="email" ng-model="newcontract.start" placeholder="01-01-2013">

					<label for="end">End Date</label>
					<input type="text" class="form-control" id="start" ng-model="newcontract.end" placeholder="">
			
					<div>
						<a type="button" class="btn btn-default" ng-click="save(newcontract)">Save</a>
					</div>
					
				</div>
			</form>
		</div>
	</div>	

	<div ng-cloak ng-show="debug" class="well"><pre>contracts={{contracts | json}} </pre><br/><pre>newcontract={{newcontract | json}}</pre></div>

</div>
