<!-- current $scope is AdminContractCtrl -->
<div>

	<div id="contracts" class="panel panel-default" ng-hide="edit">
		<div class="panel-heading">
			<h4>Contracts</h4>
		</div>
		<div class="panel-body">
			<div ng-show="clientsList.length > 0">
				<form class="form-horizontal" role="form">
					<div class="form-group">
						<div class="col-sm-3">

							<div class="btn-group btn-group-sm">
								<button id="new" type="button" class="btn btn-primary" ng-click="set();">New</button>
								<button id="dropdown" type="button" class="btn btn-primary dropdown-toggle" data-toggle="dropdown">
									<span class="caret"></span> <span class="sr-only">Toggle Create Dropdown</span> &nbsp;
								</button>
								<ul class="dropdown-menu" role="menu">
									<li ng-repeat="client in clientsList | orderBy:'name'"><a ng-click="newForClient(client);">New Contract for <i>{{client.name}}</i></a></li>
								</ul>
							</div>
						</div>
						<div class="col-sm-6">
							<div class="checkbox">
								<label for="showExpiredContracts"> <input id="showExpiredContracts" type="checkbox" ng-model="showExpiredContractsModel">
									Show expired contracts
								</label>
							</div>
						</div>
					</div>
				</form>
				<ul>
					<li ng-repeat="client in clientsList | orderBy:'name'" id="{{client.name}}">{{client.name}}
						<ul>
							<li ng-repeat="contract in contractsList | orderBy:'workersMap[contract.worker].fullNameNormalized' "
								id="{{client.name}}-{{workersMap[contract.worker].fullName}}"
								ng-show="((contract.client==client.id) &&(!contract.expired || (contract.expired && showExpiredContractsModel)))"><span
								class="btn-group btn-group-sm">
									<button type="button" id="delete-{{$id}}" class="btn debug" ng-click="remove(contract);" ng-show="debug">Delete</button> <a
									id="edit-{{$id}}" ng-click="set(contract);">
							</span> {{workersMap[contract.worker].fullName}} <span ng-show="contract.startDate">- {{contract.startDate}} <span
									ng-show="contract.endDate">to {{contract.endDate}}</span></span> </a> <span ng-show="contract.expired">
                                    <span id="expired" class="label label-danger">expired</span>
							</span></li>
						</ul>
					</li>
				</ul>
			</div>
			<div ng-hide="clientsList.length > 0">
				<p class="text-warning">
					No clients found. Please create a client on the <a href="#/client">clients page</a>.
				</p>
			</div>
		</div>
	</div>

	<form class="form-horizontal" role="form" name="createContractForm">
		<div id="createContract" class="panel panel-default" ng-show="edit">
			<div class="panel-heading">
				<span ng-show="currentContract.id"><h4>Edit Contract</h4> {{clientsMap[currentContract.client].name}},
					{{workersMap[currentContract.worker].fullName}} </span> <span ng-hide="currentContract.id"><h4>Create Contract</h4></span>
				<p ng-hide="true" class="text-danger lead">
					Warning: <span ng-pluralize count="createContractForm.$error.required.length"
						when="{'1': '1 required field is missing.', 'other': '{} required fields are missing.'}"> </span>
				</p>
			</div>
			<div class="panel-body">

				<!-- <div class="form-group" ng-class="{'has-error': createContractForm.worker.$error.required}"> -->
				<div class="form-group">
					<label for="worker" class="col-sm-2 control-label">Worker</label>
					<div class="col-sm-4">
						<select class="form-control" id="worker" name="worker" ng-model="currentContract.worker"
							ng-options="worker.id as worker.fullName for (workerid,worker) in workersMap" required>
							<option value="">-- Select Worker --</option>
						</select>
					</div>
				</div>
				<!-- <div class="form-group" ng-class="{'has-error': createContractForm.client.$error.required}"> -->
				<div class="form-group">
					<label for="client" class="col-sm-2 control-label">Client</label>
					<div class="col-sm-4">
						<select class="form-control" id="client" name="client" ng-model="currentContract.client"
							ng-options="client.id as client.name for (clientid,client) in clientsMap" required>
							<option value="">-- Select Client --</option>
						</select>
					</div>
				</div>
				<div class="form-group">
					<label for="onSite" class="col-sm-2 control-label">On site</label>
					<div class="col-sm-4">
						<input id="onSite" name="onSite" type="checkbox" ng-model="currentContract.onSite">
					</div>
				</div>
				<!-- <div class="form-group" ng-class="{'has-error': createContractForm.client.$error.required}"> -->
				<div class="form-group">
					<label for="startDate" class="col-sm-2 control-label">Start Date</label>
					<div class="col-sm-4">
						<input type="date" class="form-control" id="startDate" name="startDate" ng-model="currentContract.startDate" placeholder="YYYY-MM-DD"
							required>
					</div>
				</div>
				<div class="form-group">
					<label for="endDate" class="col-sm-2 control-label">End Date</label>
					<div class="col-sm-4">
						<input type="date" class="form-control" id="endDate" name="endDate" ng-model="currentContract.endDate" placeholder="YYYY-MM-DD">
					</div>
				</div>
				<div class="form-group">
					<div class="col-sm-offset-2 col-sm-4">
						<button type="button" id="save" class="btn btn-primary" ng-click="save(currentContract)">Save</button>
						<button type="button" id="cancel" class="btn btn-default" ng-click="unset();">Cancel</button>
					</div>
				</div>
			</div>
		</div>

		<pre ng-cloak ng-show="debug" class="debug">
createContractForm.$pristine = {{createContractForm.$pristine}}
createContractForm.$dirty = {{createContractForm.$dirty}}
createContractForm.worker.$valid = {{createContractForm.worker.$valid}}
createContractForm.worker.$error = {{createContractForm.worker.$error}}
createContractForm.worker.$error.required = {{createContractForm.worker.$error.required}}
createContractForm.$valid = {{createContractForm.$valid}}
$valid && &dirty = {{ (createContractForm.$valid && createContractForm.$dirty) }}
!($valid && &dirty) = {{ !(createContractForm.$valid && createContractForm.$dirty) }}
createContractForm.$error.required (json) = {{createContractForm.$error.required | json}}
createContractForm.$error.required.length = {{createContractForm.$error.required.length}}
createContractForm.$error.required !! = {{!!createContractForm.$error.required}}
createContractForm = {{createContractForm|json}}
</pre>

	</form>

	<div ng-cloak ng-show="debug" class="well">
		<pre class="debug">contractsList={{contractsList | json}}
currentContract={{currentContract | json}}</pre>
	</div>

</div>
