<div>
	<div id="home" ng-cloak ng-show="isAdmin">
		<ul>
			<li>
				<span ng-cloak ng-show="workersMap.length>0" class="badge">{{workersMap.length}}</span>
				<a href="#/worker">Workers</a>
			</li>
			<li>
				<span ng-cloak ng-show="clientsMap.length>0" class="badge">{{clientsMap.length}}</span>
				<a href="#/client">Clients</a>
			</li>
			<li>
				<span ng-cloak ng-show="contractsMap.length>0" class="badge">{{contractsMap.length}}</span>	
				<a href="#/contract">Contracts</a>
			</li>
			<li>Reports
				<ul ng-controller="AdminReportLinkCtrl">
					<li ng-repeat="report in reportLinks">
						<a ng-href="#/report/{{report.link}}">{{report.name}}</a>
					</li>
				</ul>
			</li>
		</ul>
	</div>
</div>