<div>

	<div ng-cloak ng-show="isAdmin">

		<ul>
			<li>
				<span ng-cloak ng-show="workersMap.length>0" class="badge">{{workersMap.length}}</span>
				<a href="#/worker">Workers</a>
			</li>
			<li>
				<span ng-cloak ng-show="clientsMap.length>0" class="badge">{{clientsMap.length}}</span>
				<a href="#/client">Clients</a>
			</li>
			<li>
				<span ng-cloak ng-show="contractsMap.length>0" class="badge">{{contractsMap.length}}</span>	
				<a href="#/contract">Contracts</a>
			</li>
		</ul>
	</div>

</div>
