<!-- $scope is on TimeSheetPageCtrl -->
<div>
	<div class="panel panel-default" ng-hide="edit">
		<div class="panel-heading">
			<h4>
				TimeSheets
				<div class="pull-right">
					<div class="btn-group">
						<button type="button" id="new" class="btn btn-primary btn-sm" ng-click="set();">Create</button>
						<button type="button" class="btn btn-sm btn-primary dropdown-toggle" data-toggle="dropdown">
							<span class="caret"></span> <span class="sr-only">Toggle Create Dropdown</span> &nbsp;
						</button>
						<ul class="dropdown-menu" role="menu">
							<li><a ng-click="setWeekLast();">Last Week</a></li>
							<li><a ng-click="set();">This Week <i>(default)</i></a></li>
							<li><a ng-click="setWeekNext();">Next Week</a></li>
							<li class="divider"></li>
							<li><a ng-click="setWeekOther();">Other...</a></li>
						</ul>
					</div>
					<div class="col-sm-2"></div>
				</div>
			</h4>
		</div>
		<div class="panel-body">
			<ul>
				<li ng-repeat="(id, timeSheet) in timeSheetsMap"><a ng-click="set(timeSheet)">{{timeSheet.year}}, week {{timeSheet.week}} -
						{{timeSheet.startDate}} for {{clientsMap[timeSheet.clientId].name}} </a>
					<button type="button" id="delete-{{$id}}" class="btn btn-sm btn-default" ng-click="remove(timeSheet);" ng-hide="!debug">Delete</button>
				</li>
			</ul>
		</div>
	</div>

	<form role="form" name="createTimeSheetForm">
		<div id="createTimeSheet" class="panel panel-default" ng-show="edit">
			<div class="panel-heading">
				<h4>
					<span ng-show="currentTimeSheet.id">Edit TimeSheet: {{currentTimeSheet.startDate}} for
						{{clientsMap[currentTimeSheet.clientId].name}} <span class="text-muted">{{currentTimeSheet.id}}</span>
					</span>
				</h4>
				<div class="row">
					<div class="col-sm-2 pull-right">
						<small><span class="text-muted">As of {{currentTimeSheet.updateTimestamp}}</span></small>
					</div>
				</div>
			</div>
			<div class="panel-body">
				<div class="form-group">
					<ul class="list-group">
						<li ng-repeat="day in currentTimeSheet.days" class="list-group-item row" ng-init="ii=$index">
							<div class="col-sm-2">{{dayOfWeekArr[((currentTimeSheet.startDayOfWeek + ii) % 7)].description}}</div>
							<div class="col-sm-4">
								<div class="row" ng-repeat="entry in day.entries">
                                                                        
									<input type="time" class="input-sm" ng-model="entry.startTime" title="Clock-in Time"> 
									
									<input type="time" class="input-sm" ng-model="entry.endTime" title="Clock-out Time">
									
									<select class="form-control input-sm" 
										id="timeSheetLogEntry-clientId-{{ii}}" 
										name="timeSheetLogEntry-clientId-{{ii}}" 
										ng-model="entry.clientId"
										ng-options="client.id as (client.name) for (clientid,client) in clientsMap" 
										required>
										<option value="">-- Select Client --</option>
									</select>
									
								 	<button type="button" class="btn btn-default btn-sm" ng-click="addNewTimeCardLogEntry(currentTimeSheet);">
                                                                            <span class="glyphicon glyphicon-plus-sign"></span>
                                                                        </button>
								</div>
							</div>
						</li>
					</ul>
				</div>
				<div class="form-group row">
					<label for="note" class="col-sm-2 control-label">Notes</label>
					<div class="col-sm-4">
						<textarea class="form-control" id="note" name="note" rows="2" ng-model="currentTimeSheet.note"></textarea>
					</div>
				</div>
				<div class="form-group row">
					<div class="col-sm-offset-2 col-sm-4">
						<button type="button" id="save" class="btn " ng-class="{'btn-primary': createTimeSheetForm.$valid}"
							ng-disabled="!(createTimeSheetForm.$valid && createTimeSheetForm.$dirty)" ng-click="save(currentTimeSheet)">Save</button>
						<button type="button" id="cancel" class="btn btn-default" ng-click="unset();">
							<span ng-show="!createTimeSheetForm.$dirty">Done</span> <span ng-show="createTimeSheetForm.$dirty">Cancel</span>
						</button>
						<button type="button" id="submit" class="btn btn-default disabled" ng-click="alert('not implemented yet!')">Submit</button>
					</div>
				</div>
			</div>
		</div>
	</form>

	<div class="well" ng-cloak ng-show="debug">
		<pre>currentTimeSheet={{currentTimeSheet | json}}
timeSheetsMap length={{Objects.keys(timeSheetsMap).length}}
timeSheetsMap={{timeSheetsMap|json}}
</pre>
	</div>
</div>

</div>