<!-- current $scope is AdminWorkerCtrl -->
<div class="container">
	<div id="workers" class="panel panel-default" ng-hide="edit">
		<div class="panel-heading">
			<h4>
				Workers
				<div class="pull-right">
					<span class="btn-group">
						<button type="button" id="new" class="btn btn-xs btn-primary" ng-click="set();">New</button>
						<button type="button" id="testNewRandom" class="btn btn-xs btn-warning" ng-click="newRandom();" ng-hide="!debug">New Random</button>
					</span>
				</div>
			</h4>
		</div>
		<div class="panel-body">
			<div class="row">
				<div class="col-sm-10">
					<ul>
						<li ng-repeat="worker in workersList | filter:search:strict | orderBy:'lastName' "><span class="btn-group">
								<button type="button" id="edit-{{$id}}" class="btn btn-sm btn-default" ng-click="set(worker);">Edit</button>
								<button type="button" id="delete-{{$id}}" class="btn btn-sm btn-default" ng-click="remove(worker);" ng-hide="!debug">Delete</button>
						</span> {{worker.lastName}}, {{worker.firstName}} <span class="text-muted" ng-show="worker.email">&nbsp;&nbsp;&nbsp; {{worker.email}}</span></li>
					</ul>
				</div>
				<div class="col-sm-2">
					<input type="text" class="form-control search" ng-model="search.$" placeholder="Search">
				</div>
			</div>
		</div>
	</div>

	<form class="form-horizontal" role="form" name="createWorkerForm">
		<div id="createWorker" class="panel panel-default" ng-show="edit">
			<div class="panel-heading">
				<span ng-show="currentWorker.id"><h4>Edit Worker</h4> {{currentWorker.lastName}}, {{currentWorker.firstName}}</span> <span
					ng-hide="currentWorker.id"><h4>Create Worker</h4></span>
				<p ng-show="!createWorkerForm.$valid" class="text-danger lead">
					Warning: <span ng-pluralize count="createWorkerForm.$error.required.length"
						when="{'1': '1 required field is missing.', 'other': '{} required fields are missing.'}"> </span>
				</p>
			</div>
			<div class="panel-body">
				<div class="form-group" ng-class="{'has-error': createWorkerForm.firstName.$error.required}">
					<label for="firstName" class="col-sm-2 control-label">First Name</label>
					<div class="col-sm-4">
						<input type="text" class="form-control" id="firstName" name="firstName" ng-model="currentWorker.firstName"
							placeholder="First Name (i.e., John)" required>
					</div>
				</div>
				<div class="form-group" ng-class="{'has-error': createWorkerForm.lastName.$error.required}">
					<label for="lastName" class="col-sm-2 control-label">Last Name</label>
					<div class="col-sm-4">
						<input type="text" class="form-control" id="lastName" name="lastName" ng-model="currentWorker.lastName"
							placeholder="Last Name (i.e., Smith)" required>
					</div>
				</div>
				<div class="form-group" ng-class="{'has-error': createWorkerForm.email.$error.required, 'has-warning': !createWorkerForm.email.$valid}">
					<label for="email" class="col-sm-2 control-label">Email</label>
					<div class="col-sm-4">
						<input type="email" class="form-control" id="email" name="email" ng-model="currentWorker.email" placeholder="john@smith.com" required>
					</div>
				</div>
				<div class="form-group">
					<label for="start" class="col-sm-2 control-label">Start Date</label>
					<div class="col-sm-4">
						<input type="date" class="form-control" id="start" name="start" ng-model="currentWorker.start" placeholder="YYYY-MM-DD">
					</div>
				</div>
				<div class="form-group">
					<div class="col-sm-offset-2 col-sm-4">
						<div class="checkbox">
							<label class="control-label" for="hourly"> <input id="hourly" name="hourly" type="checkbox" ng-model="currentWorker.hourly">
								Hourly
							</label>
						</div>
					</div>
				</div>
				<div class="form-group">
					<div class="col-sm-offset-2 col-sm-4">
                        <button type="button" id="save" class="btn btn-primary" ng-click="save(currentWorker)">Save</button>
						<button type="button" id="cancel" class="btn btn-default" ng-click="unset();">Cancel</button>
					</div>
				</div>
			</div>
		</div>
	</form>

	<div ng-cloak ng-show="debug" class="well">
		<pre>edit={{edit}}
workers={{workers | json}}
currentWorker={{currentWorker | json}}
</pre>
	</div>

</div>
