<!-- current $scope is AdminWorkerCtrl -->
<div>
	<div id="workers" class="panel panel-default">
		<div class="panel-heading">Workers</div>
		<div class="panel-body">
			<ul>
				<li ng-repeat="worker in workers | orderBy:'lastName'" ng-controller="AdminWorkerDetailCtrl">
					<span class="btn-group">
						<!-- <a type="button" class="btn btn-sm btn-default" ng-href="#">View</a> -->
						<a type="button" class="btn btn-sm btn-default" ng-click="edit=!edit">Edit</a>
						<a type="button" class="btn btn-sm btn-default btn-primary" ng-show="edit" ng-click="save(worker)">Save</a>
					</span>
					<span ng-hide="edit">
						{{worker.lastName}}, {{worker.firstName}} 
						<span ng-show="worker.email">- {{worker.email}}</span>
					</span>
					<span ng-show="edit">
						<form role="form" name="editWorkerForm">
							<div class="form-group">
							
								<label for="firstName">First Name</label>
								<input type="text" class="form-control" id="firstName" ng-model="worker.firstName" placeholder="First Name (i.e., John)">
				
								<label for="lastName">Last Name</label>
								<input type="text" class="form-control" id="lastName" ng-model="worker.lastName" placeholder="Last Name (i.e., Smith)">
				
								<label for="email">Email</label>
								<input type="text" class="form-control" id="email" ng-model="worker.email" placeholder="john@smith.com">
			
								<label for="start">Start Date</label>
								<input type="text" class="form-control" id="start" ng-model="worker.start" placeholder="1">
						
							</div>
						</form>
					</span>
				</li>
			</ul>
		</div>
	</div>
	
	<div id="createWorker" class="panel panel-default">
		<div class="panel-heading">Create new worker</div>
		<div class="panel-body">
			<form role="form" name="createWorkerForm">
				<div class="form-group">
				
					<label for="firstName">First Name</label>
					<input type="text" class="form-control" id="firstName" ng-model="newworker.firstName" placeholder="First Name (i.e., John)">
	
					<label for="lastName">Last Name</label>
					<input type="text" class="form-control" id="lastName" ng-model="newworker.lastName" placeholder="Last Name (i.e., Smith)">
	
					<label for="email">Email</label>
					<input type="text" class="form-control" id="email" ng-model="newworker.email" placeholder="john@smith.com">

					<label for="start">Start Date</label>
					<input type="text" class="form-control" id="start" ng-model="newworker.start" placeholder="1">
			
					<div>
						<a type="button" class="btn btn-default" ng-click="save(newworker)">Save</a>
					</div>
					
				</div>
			</form>
		</div>
	</div>	

	<div ng-cloak ng-show="debug" class="well"><pre>workers={{workers | json}} </pre><br/><pre>newworker={{newworker | json}}</pre></div>

</div>
